absl-py==1.4.0
accelerate==1.10.0
addict==2.4.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp-cors==0.7.0
aiomysql==0.2.0
aiorwlock==1.3.0
aiosignal==1.4.0
aiosqlite==0.17.0
airportsdata==20241001
altair==5.4.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
apturl==0.5.2
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.2.3
asgiref==3.7.2
Aspose.Slides==24.5.0
astor==0.8.1
astroid==2.15.4
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.5
async-timeout==4.0.2
asyncio==3.4.3
asyncpg==0.28.0
atlastk==0.13.2
attrs==23.1.0
auxlib==0.0.43
babel==2.17.0
backcall==0.2.0
backoff==2.2.1
bcrypt==3.2.0
beautifulsoup4==4.12.2
bentoml==1.1.3
bert-score==0.3.13
bitsandbytes==0.45.5
black==25.1.0
blake3==1.0.1
bleach==6.2.0
blessed==1.20.0
blinker==1.4
boto3==1.28.34
botocore==1.31.34
Brlapi==0.8.3
build==0.10.0
builder==0.1.0
cachetools==5.3.1
catboost==1.2.2
cattrs==23.1.2
cbor==1.0.0
cbor2==5.6.5
certifi==2023.5.7
cffi==1.15.1
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==3.2.0
chex==0.1.86
ci-info==0.3.0
circus==0.18.0
click==8.2.1
click-option-group==0.5.6
clip==0.2.0
cloud-sql-python-connector==1.3.0
cloudpickle==2.2.1
cmake==3.26.3
colorama==0.4.4
coloredlogs==15.0.1
colorful==0.5.5
comm==0.1.3
command-not-found==0.3
compressed-tensors==0.10.2
configobj==5.0.8
configparser==7.0.0
contextlib2==21.6.0
contourpy==1.0.7
cramjam==2.8.3
cryptography==42.0.5
cuda-python==12.2.0
cupshelpers==1.0
cupy-cuda12x==13.4.1
cycler==0.11.0
Cython==3.0.0
dacite==1.8.1
datasets==2.18.0
dbus-python==1.2.18
debugpy==1.6.7
decorator==5.1.1
deepmerge==1.1.0
deepspeed==0.10.0
deepspeed-mii==0.0.4
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.14
depyf==0.19.0
# Editable install with no version control (diffusers==0.33.1)
-e /usr/local/lib/python3.10/dist-packages
dill==0.3.6
diskcache==5.6.3
distlib==0.3.6
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.7.0
docker-pycreds==0.4.0
docopt==0.6.2
docstring-parser==0.15
dtw==1.4.0
duplicity==0.8.21
einops==0.7.0
email_validator==2.2.0
entrypoints==0.4
et_xmlfile==2.0.0
etelemetry==0.3.1
etils==1.7.0
evaluate==0.4.0
exceptiongroup==1.1.2
executing==1.2.0
faiss-cpu==1.10.0
faiss-gpu==1.7.2
fastapi==0.115.6
fastapi-cli==0.0.7
fastchat==0.1.0
fastcore==1.5.29
fasteners==0.14.1
fastjsonschema==2.16.3
fastparquet==2024.2.0
fastrlock==0.8.3
fastuuid==0.14.0
filelock==3.16.1
filetype==1.2.0
fitz==0.0.1.dev2
FlagEmbedding==1.3.4
flake8==7.0.0
flatbuffers==23.5.26
flax==0.8.3
fonttools==4.39.3
fqdn==1.5.1
frontend==0.0.3
frozenlist==1.3.3
fs==2.4.16
fs-s3fs==1.1.1
fsspec==2024.2.0
ftfy==6.3.1
future==0.18.2
futures==3.0.5
gast==0.4.0
gcsfs==2023.6.0
gguf==0.17.1
ghapi==1.0.4
gitdb==4.0.10
GitPython==3.1.31
google==3.0.0
google-api-core==2.11.1
google-api-python-client==2.93.0
google-auth==2.20.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud==0.34.0
google-cloud-aiplatform==1.30.1
google-cloud-bigquery==3.11.4
google-cloud-core==2.3.3
google-cloud-resource-manager==1.10.3
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.5.0
googleapis-common-protos==1.70.0
gpustat==1.1.1
graphviz==0.20.1
greenlet==2.0.2
grpc-google-iam-v1==0.12.6
grpcio==1.67.1
grpcio-channelz==1.48.2
grpcio-health-checking==1.48.2
grpcio-reflection==1.48.2
grpcio-status==1.48.2
grpcio-tools==1.57.0
gunicorn==21.2.0
h11==0.16.0
h5py==3.8.0
hdfs==2.7.3
hf-xet==1.3.2
hiddenlayer==0.3
hjson==3.1.0
htmlmin==0.1.12
httpcore==1.0.9
httplib2==0.20.2
httptools==0.6.4
httpx==0.28.1
huggingface_hub==1.6.0
humanfriendly==10.0
identify==2.5.24
idna==3.4
ijson==3.3.0
ImageHash==4.3.1
imageio==2.31.1
importlib_metadata==8.7.1
importlib_resources==6.4.0
inflection==0.5.1
iniconfig==2.0.0
inscriptis==2.5.3
inspectus==0.2.0
install==1.3.5
interegular==0.3.3
ipykernel==6.23.0
ipython==8.13.2
ipython-genutils==0.2.0
ipywidgets==8.1.2
ir_datasets==0.5.9
iso8601==1.1.0
isodate==0.6.1
isoduration==20.11.0
isort==5.13.2
itsdangerous==2.1.2
jax==0.4.28
jaxlib==0.4.28
jedi==0.18.2
jeepney==0.7.1
Jinja2==3.1.2
jiter==0.12.0
jmespath==1.0.1
joblib==1.2.0
jose==1.0.0
json5==0.12.1
jsonlines==4.0.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.7.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.10
kaggle==1.5.13
kagglehub==0.3.6
keras==2.12.0
keras-nightly==2.14.0.dev2023061307
kernels==0.9.0
keyring==23.5.0
kfp==2.0.1
kfp-dsl==2.1.2
kfp-pipeline-spec==0.2.2
kfp-server-api==2.0.1
kiwisolver==1.4.4
kubernetes==26.1.0
labml==0.5.3
language-selector==0.1
lark==1.2.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-object-proxy==1.9.0
lazy_loader==0.3
libclang==16.0.0
lightgbm==4.0.0
linkify-it-py==2.0.3
lit==16.0.1
litellm==1.80.11
llguidance==0.7.30
llvmlite==0.44.0
lm-format-enforcer==0.10.11
lmdb==1.4.1
lockfile==0.12.2
loguru==0.7.3
looseversion==1.3.0
louis==3.20.0
lxml==5.2.2
lz4==4.4.3
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
memray==1.15.0
mistral_common==1.8.3
mistune==2.0.5
ml-dtypes==0.4.0
monotonic==1.6
more-itertools==8.10.0
mpi4py==3.1.4
mpmath==1.3.0
msgpack==1.0.5
msgspec==0.19.0
multidict==6.0.4
multimethod==1.10
multiprocess==0.70.14
mypy-extensions==1.0.0
mysqlclient==2.2.0
narwhals==1.13.5
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==3.1
nibabel==5.2.1
ninja==1.11.1
nipype==1.8.6
nltk==3.9.4
nodeenv==1.8.0
notebook_shim==0.2.4
numba==0.61.2
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-ml-py==12.560.30
nvidia-ml-py3==7.352.0
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.6.77
oauthlib==3.2.0
olefile==0.46
omegaconf==2.3.0
onnx==1.14.1
onnxruntime==1.16.1
open_clip_torch==3.2.0
openai==2.14.0
openai-harmony==0.0.4
opencensus==0.11.2
opencensus-context==0.1.3
opencv-python==4.7.0.72
opencv-python-headless==4.11.0.86
openllm==0.2.26
openpyxl==3.1.5
opentelemetry-api==1.34.1
opentelemetry-exporter-jaeger==1.18.0
opentelemetry-exporter-jaeger-proto-grpc==1.18.0
opentelemetry-exporter-jaeger-thrift==1.18.0
opentelemetry-exporter-otlp==1.34.1
opentelemetry-exporter-otlp-proto-common==1.34.1
opentelemetry-exporter-otlp-proto-grpc==1.34.1
opentelemetry-exporter-otlp-proto-http==1.34.1
opentelemetry-exporter-zipkin==1.18.0
opentelemetry-exporter-zipkin-json==1.18.0
opentelemetry-exporter-zipkin-proto-http==1.18.0
opentelemetry-instrumentation==0.39b0
opentelemetry-instrumentation-aiohttp-client==0.39b0
opentelemetry-instrumentation-asgi==0.39b0
opentelemetry-instrumentation-grpc==0.39b0
opentelemetry-proto==1.34.1
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
opentelemetry-semantic-conventions-ai==0.4.9
opentelemetry-util-http==0.39b0
opt-einsum==3.3.0
optax==0.2.2
optimum==1.12.0
orbax-checkpoint==0.5.11
orjson==3.9.5
outcome==1.3.0.post0
outlines==0.1.11
outlines_core==0.2.10
overrides==7.7.0
packaging==23.1
pandas==2.3.3
pandas-profiling==3.6.6
pandocfilters==1.5.1
paramiko==2.9.3
parso==0.8.3
partial-json-parser==0.2.1.1.post4
passlib==1.7.4
pathlib==1.0.1
pathspec==0.11.1
pathtools==0.1.2
patsy==0.5.3
pdfminer.six==20231228
pdfplumber==0.11.3
peft==0.8.2
pexpect==4.8.0
phik==0.12.3
pickleshare==0.7.5
pillow==10.4.0
pip-requirements-parser==32.0.1
pip-tools==7.3.0
pipenv==2023.3.20
platformdirs==3.8.1
plotly==5.18.0
pluggy==1.2.0
pre-commit==2.17.0
prometheus-fastapi-instrumentator==7.0.0
prometheus_client==0.21.1
prompt-toolkit==3.0.38
propcache==0.4.1
proto-plus==1.22.3
protobuf==5.29.5
prov==2.0.0
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py-cpuinfo==9.0.0
py-spy==0.3.14
pyarrow==15.0.2
pyarrow-hotfix==0.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybase64==1.4.2
pybind11==2.13.6
pycairo==1.20.1
pycocotools==2.0.7
pycodestyle==2.11.1
pycountry==24.6.1
pycparser==2.21
pycuda==2024.1
pycups==2.0.1
pydantic==2.11.7
pydantic-extra-types==2.10.5
pydantic_core==2.33.2
pydeck==0.8.1b0
pydot==2.0.0
pyflakes==3.2.0
Pygments==2.15.1
PyGObject==3.42.1
PyJWT==2.3.0
pylint==2.17.3
pymacaroons==0.13.0
PyMuPDF==1.24.4
PyMuPDFb==1.24.3
PyMySQL==1.1.0
PyNaCl==1.5.0
pyngrok==6.0.0
pynvml==11.5.0
pyOpenSSL==24.0.0
pyparsing==3.1.2
PyPDF2==3.0.1
pypdfium2==4.30.0
pypika-tortoise==0.1.6
pyproject_hooks==1.0.0
pyRFC3339==1.1
PySocks==1.7.1
pytest==7.0.1
pytest-asyncio==0.21.1
python-apt==2.4.0+ubuntu4.1
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.0
python-json-logger==2.0.7
python-multipart==0.0.20
python-pptx==0.6.23
python-slugify==8.0.1
pytools==2023.1.1
pytz==2022.1
PyWavelets==1.4.1
pyxdg==0.27
pyxnat==1.6.2
PyYAML==6.0
pyzmq==25.0.2
QtPy==2.3.1
querystring-parser==1.2.4
ray==2.48.0
rdflib==7.0.0
referencing==0.30.2
regex==2023.3.23
reportlab==3.6.8
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.0.0
rich-toolkit==0.14.7
rouge-score==0.1.2
rpds-py==0.9.2
rsa==4.9
s3transfer==0.6.2
safetensors==0.4.5
schema==0.7.5
scikit-image==0.21.0
scikit-learn==1.7.2
scipy==1.15.3
screen-resolution-extra==0.0.0
seaborn==0.12.2
SecretStorage==3.3.1
segment-anything==1.0
selenium==4.25.0
Send2Trash==1.8.3
sentence-transformers==2.3.0
sentencepiece==0.2.0
sentry-sdk==2.31.0
setproctitle==1.3.2
Shapely==1.8.5.post1
shellingham==1.5.4
simple-di==0.1.5
simplejson==3.19.2
six==1.16.0
sklearn==0.0.post5
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.4.1
soxr==0.5.0.post1
SQLAlchemy==2.0.19
sqlparse==0.4.4
ssh-import-id==5.11
stack-data==0.6.2
starlette==0.41.3
statsmodels==0.14.0
streamlit==1.28.0
streamlit-option-menu==0.3.6
sympy==1.14.0
systemd-python==234
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tb-nightly==2.14.0a20230613
tenacity==8.2.3
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorflow==2.12.0
tensorflow-addons==0.20.0
tensorflow-estimator==2.12.0
tensorflow-hub==0.13.0
tensorflow-io-gcs-filesystem==0.32.0
tensorrt==8.6.1
tensorrt-bindings==8.6.1
tensorrt-libs==8.6.1
tensorstore==0.1.59
termcolor==2.3.0
terminado==0.18.1
text-unidecode==1.3
textual==1.0.0
tf-estimator-nightly==2.14.0.dev2023060108
tf-nightly==2.14.0.dev20230613
tf-utils==1.0.4
tfa-nightly==0.21.0.dev20230531142907
threadpoolctl==3.1.0
thrift==0.16.0
tifffile==2023.7.18
tiktoken==0.7.0
timm==1.0.20
tinycss2==1.2.1
tokenize_rt==6.2.0
tokenizers==0.22.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.7
toolz==0.12.0
torch==2.7.1
torchaudio==2.7.1
torchsummary==1.5.1
torchvision==0.22.1
torchviz==0.0.2
tornado==6.3.1
tortoise==0.1.1
tortoise-orm==0.19.3
tqdm==4.67.1
traitlets==5.9.0
traits==6.3.2
transformers==5.3.0
trec-car-tools==2.6
trio==0.24.0
trio-websocket==0.11.1
triton==3.5.1
triton_kernels @ git+https://github.com/triton-lang/triton.git@523147187bf4ce4cb44fb9bc98a3d4b9dc38c630#subdirectory=python/triton_kernels
typeguard==4.1.5
typer==0.16.0
typing==3.7.4.3
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==5.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
uc-micro-py==1.0.3
ufw==0.36.1
unattended-upgrades==0.1
unlzw3==0.2.3
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.16
usb-creator==0.3.7
uvicorn==0.22.0
uvloop==0.21.0
validators==0.22.0
vertexai==0.0.1
virtualenv==20.21.0
virtualenv-clone==0.5.7
visions==0.7.5
vllm==0.10.1
wadllib==1.3.6
wandb==0.20.1
warc3-wet==0.2.5
warc3-wet-clueweb09==0.2.5
watchdog==3.0.0
watchfiles==0.20.0
wcwidth==0.2.6
webcolors==24.11.1
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.1
Werkzeug==2.3.7
widgetsnbextension==4.0.10
wordcloud==1.9.2
wrapt==1.14.1
wsproto==1.2.0
xdg==5
xformers==0.0.31
xgboost==1.7.6
xgrammar==0.1.21
xkit==0.0.0
XlsxWriter==3.2.0
xxhash==3.2.0
yapf==0.40.1
yarl==1.22.0
ydata-profiling==4.6.0
zipp==3.23.0
zlib-state==0.1.9
